*{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#header-section{
  padding: 0;
  height: 100%;
}

.header{
  padding: 10px 0;
  height: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#logo{
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.main-navigation{
  min-height: 40px;
}

.header-inner{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page-link{
  font-size: 1.1em;
  color: white;
  flex-wrap: wrap;
  padding: 0px 20px;
  letter-spacing: normal;
  background: transparent;
  display: inline-block;
  text-align: center;
  border: none;
  position: relative;
  top: -40px;
  font-weight: normal;
}

.page-link:hover{
  background: transparent;
  font-weight: bolder;
  color: purple;
}

.typed{
  text-align: center;
  font-size: 5em;
  color: white;
  font-weight: 1000;
  padding: 5% 10%;
  width: 100%;
}

#typed{
  text-align: center;
  color: white;
  font-weight: 1000;
  color: purple;
  display: inline;
  padding-left: 30px;
}

.message-title{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.message-image{
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin: 5px 50px 0 0;
  padding-left: 200px;
}

.message{
  display: inline-block;
  vertical-align: top;
  width: 46%;
  @media (max-width: 620px) {
      width: 100%;
  }
  padding-right: 160px;
}

.center{
  justify-content: center;
}

.next{
  color: white;
}

#reveal-message{
  margin-top: 7%;
  span{
    font-size: 3em;
  }
}
