*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    //overflow-y: scroll;

}

::-webkit-scrollbar {
    display: none;
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.loader-bg{
    position: fixed;
    z-index: 999999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3B2F63;
    background-image: -webkit-radial-gradient(0% bottom,   rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% bottom,   #523f8c 0%, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% top,   rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top,   #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(  at 0% bottom, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(  at 90% bottom, #523f8c 0%, rgba(82, 63, 140, 0) 40%), radial-gradient(  at 50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), radial-gradient(  at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-size: auto, auto, 100% 1000px, 100% 1000px;
    background-repeat: no-repeat;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    position: absolute;
    height: 400px;
    left: 50%;
    top: 50%;
    width: 400px;
    margin-top: -198px;
    margin-left: -198px;
}

.loader:before, .loader:after{
    content: '';
    border: 1rem solid white;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 3s linear;
    opacity: 0;
    background: url("../assets/logo192.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 160px;
}

.loader:before{
    animation-delay: .6s;
}

@keyframes loader{
    0%{
    transform: scale(0);
    opacity: 0;
    }
    50%{
    opacity: 1;
    }
    100%{
    transform: scale(1);
    opacity: 0;
    }
}

$header_heights: 45%;

#header-section{
    padding: 0;
    height: 100%;
    background: url("../assets/photo2.jpg");
    // background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/f_auto,fl_force_strip.progressive,q_auto:best/website/home/header1.png");
    background-position: 40% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}


#about-header-section{
    padding: 0;
    height: $header_heights;
    // background: url("../assets/header.JPG");
    background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/q_auto:best/website/brothers/header1.png");
    // background-position: 50% 23%;
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact-header-section{
    padding: 0;
    height: $header_heights;
    // background: url("../assets/header.JPG");
    background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/f_auto,q_auto:best/website/home/header3.png");
    // background-position: 50% 23%;
    background-position: 70% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

#spotlight-header-section{
  padding: 0;
  height: $header_heights;
  // background: url("../assets/header.JPG");
  background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/q_auto:best/website/brothers/header1.png");
  // background-position: 50% 23%;
  background-position: 70% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

#careers-header-section{
    padding: 0;
    height: $header_heights;
    background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/fl_force_strip.progressive,q_auto:best/website/about/header2.jpg");
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#brothers-header-section{
    padding: 0;
    height: $header_heights;
    background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/f_auto,fl_force_strip.progressive,q_auto:best/website/about/header1.png");
    background-position: 70% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}

#join-header-section{
    padding: 0;
    height: $header_heights;
    // background: url("../assets/seniors.jpeg");
    background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/fl_force_strip.progressive,q_auto:best/website/home/header2.jpg");
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#executive-board-section{
    padding: 2% 8%;
    height: 60%;
}

#brothers-section, #executive-board-section{
    height: auto;
    padding: 2% 8%;
    object-fit: contain;
    object-position: center;

    div{
        width: inherit;
        text-align: center;
    }
    .frame{
        display: inline-block;
        text-align: center;
        margin: auto 1vh;
        min-width: 150px;
        max-width: 220px;
        width: 20vw;
        p{
            color: 342E39;
            font-size: 1.2em;
            padding: 1vh 0;
        }
        .profile{
            height: 40vh;
            min-width: 150px;
            max-width: 220px;
            background: black;
            background-position: center;
            background-size: cover;
        }
    }
}

// .overlay{
//     position: fixed;
//     width: 100%;
//     height: $header_heights;
//     background: transparent;
// }

// .header{
//   &::before {
//     content: "";
//     height: 100%;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//   }
// }

#logo{
  position: relative;
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.careers-data{
    width: 85%;
    margin: auto;
    padding: 5%;
}

.page-link{
  font-size: 1.2rem;
  color: white;
  padding: 0px 20px;
  background: transparent;
  display: inline-block;
  text-align: center;
  border: none;
  letter-spacing: 1px;
}

.page-link:hover{
  background: transparent;
  font-weight: 1000;
  color: #6d21af;
  z-index: 101;
  font-size: 1.2rem;
  transition: font-size 20ms;
}

.typed{
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: white;
  font-weight: 1000;
  padding: 0 10%;
  width: 100%;
}

.quote{
  font-size: 4rem;
  color: white;
  font-weight: 1000;
}

.center{
  text-align: center;
}

#typed{
  text-align: center;
  position: relative;
  font-weight: 1000;
  color: #6d21af;
  display: inline;
  padding-left: 30px;
}

.join-button {
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  padding-top: 10px;
  cursor: pointer;
  span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    transition: 0.5s;
    color: #6d21af;
  }
}

.join-button:hover span {
  padding-right: 25px;
  color: #6d21af;
}

.join-button:hover span:after {
  opacity: 1;
  right: 0;
}

.message-section{
  padding-bottom: 80px;
}

.message-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 3rem;
}

.message{
  vertical-align: top;
  padding-right: 40px;
  @media (max-width: 620px) {
      width: 100%;
  }
  p{
      margin-right: 5vw;
      margin-bottom: 0;
  }
  #signature{
      margin-bottom: 80px;
  }
  .message-image{
    min-width: 300px;
    width: 20%;
    height: auto;
    margin: 10px 50px 30px 50px;
    float: left;
  }
}

.interest-form {
  display: grid;
  place-items: center;
  padding: 100px;
  background: url("https://res.cloudinary.com/berkeleypse-tech/image/upload/q_auto:best/website/brothers/header1.png");
  // background: url("../assets/photo2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
}

.interest-form h2{
  color: white;
  font-weight: bold;
}

.interest-form h2:after{
  background-color:white;
}

.interest-form .form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow:hidden;
  width: 80%;
  max-width: 300px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-button {
  font-size: 14px;
  border: 0;
}

.form-input {
  padding: 1.5em;
  font-weight: bold;
}

.form-input::placeholder {
  opacity: 0.35;
}

.form-input:focus::placeholder {
  color: #794aa2;
  opacity: 0.85;
}

.form-input:focus {
  outline: none;
}

.form-item:first-of-type {
  position: relative;
}

.form-item:first-of-type::after{
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0,0,0,0.1);
}

.form-button {
  background: #794aa2;
  color: white;
  padding: 1.25em 2.25em;
}

.form-button:hover {
  opacity: 0.9;
  outline: none;
}

@media only screen and (min-width: 550px) {
  .interest-form .form {
    flex-direction: row;
    max-width: 650px;
    border: 10px solid white;
    border-radius: 3em;
    background: white;
  }
  .form-button {
    border-radius: 3em;
    margin-left: auto;
  }
  .form-item {
    justify-content: center;
  }
  .form-item:last-of-type {
    flex-grow: 1;
  }
  .form-item:first-of-type::after {
    right:0;
    left: initial;
    top:0;
    bottom:0;
    width: 1px;
    height: initial;
  }
}

#reveal-message{
  z-index: 100;
  margin-top: 10%;
  span{
    font-size: 4em;
  }
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#reveal-message:hover{
  top: 10px;
}

.about-section0{
  background-color: #f7f7f7;
  padding-bottom: 80px;
  clear: both;
}

.about-title0{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  clear: both;
}

#about-title0{
  color: #6d21af;
  display: inline;
  padding-left: 10px;
  clear: both;
}

.about-message0{
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
}

.about-section{
  background-color: #f7f7f7;
  padding-bottom: 80px;
  clear: both;
}

.about-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  clear: both;
}

#about-title{
  color: black;
  display: inline;
  padding-left: 10px;
  clear: both;
}

.about-message{
  text-align: center;
  padding-left: 8%;
  padding-right: 10%;
  margin-left: 50%;
}

// .about-image {
//   float: left;
// }

// .about-image img {
//   display:flex;
// }

.pm{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 80px;
}

.left-image {
  padding-left: 15%;
  padding-right: 50px;
}

.left-text h2{
  position: relative;
	padding: 0 0 20px;
	margin-bottom: 20px;
}

.left-text h2:after{
	content: '';
  position: absolute;
  left: 10%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 80px;
  border-radius: 2px;
  background-color: #794aa2;
}

.actives{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.right-image {
  padding-right: 20%;
  padding-left: 50px;
}

.right-text {
  text-align: right;
}

.right-text h2{
  position: relative;
	padding: 0 0 20px;
	margin-bottom: 20px;
}

.right-text h2:after{
	content: '';
  position: absolute;
  left: 90%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 80px;
  border-radius: 2px;
  background-color: #794aa2;
}

.three-column {
  float: left;
  width: 33.33%;
  padding: 80px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.three-column li{
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

.three-column img {
  padding-bottom: 20px;
}

.compay-section{
  background-color: #f5f5f5;
  padding-bottom: 80px;
  clear: both;
}

.compay-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  clear: both;
}

.split-section:after {
  content: "";
  display: table;
  clear: both;
}

.history-section{
  background-color: white;
  padding-bottom: 80px;
  clear: both;
}

.history-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  clear: both;
}

#history-title{
  color: black;
  display: inline;
  padding-left: 10px;
  clear: both;
}

.history-message{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%
}

.consulting-section{
  background-color: #f7f7f7;
  padding-bottom: 80px;
  clear: both;
}

.consulting-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  clear: both;
}

#consulting-title{
  color: black;
  display: inline;
  padding-left: 10px;
  clear: both;
}

.consulting-message{
  text-align: center;
  padding-left: 8%;
  padding-right: 8%
}

.font-md{
  font-size: 1.0rem;
}

.flex-even{
  flex: 1;
}

.footer{
  background: #2a292c;
  height: 25%;
  div{
    height: 50%;
    color: white;
  }
}

.icon{
  color: white;
  padding: 20px;
  font-size: 2em;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.19);
  position: absolute;
}

.left{
	background: url("../assets/psecontact.jpg") no-repeat center;
	background-size: cover;
  height: 100%;
  // position: relative;
}

.right{
  padding: 25px 40px;
  // position: fix;
}

.right select{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

h2{
	position: relative;
	padding: 0 0 15px;
	margin-bottom: 20px;
}

h2:after{
	content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 80px;
  border-radius: 2px;
  background-color: #794aa2;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
  resize: none;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #794aa2;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
  transition: .3s;
  outline: 0px solid #794aa2;
  border: 5px solid transparent;
}

.btn:hover{
  background-color: #8660a7;
  outline: 0px solid transparent;
  color: white;
}

.field:focus{
  border: 1px solid #794aa2;
  background-color: white;
}

.full-time{
  font-size: 2.5rem;
}


.content-table {
  border-collapse: collapse;
  margin: 50px 150px 50px 150px;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #794aa2;
  color: #ffffff;
  text-align: left;
  font-size: 1.5em;
}

.content-table th,
.content-table td {
  padding: 10px 100px;
  position: relative;
  white-space: nowrap;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #794aa2;
}

.file-upload {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.file-upload__input {
  display: none;
}

.file-upload__button {
  -webkit-appearance: none;
  background: #794aa2;
  border: 1px solid #794aa2;
  border-radius: 5px;
  outline: none;
  padding: 0.5em 0.8em;
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

.file-upload__button:active {
  background: #785b91;
}

.file-upload__label {
  max-width: 500px;
  font-size: 0.95em;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper{
  z-index: 4;
  width: 60%;
  background: #fff;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.19);
}

.wrapper .title{
  content: '';
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 20px;
  width: 50px;
  border-radius: 2px;
  background-color: 794aa2;
}

.wrapper h2{
  text-align: center;
  padding-bottom: 15px;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
  width: 300px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
  max-width: 220px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #794aa2;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
   margin-right: 30px;
}


.wrapper .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background:  #794aa2;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #8660a7;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

.accordion h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px 0 0;
  color: black;
  position: relative;
  padding-bottom: 20px;
}

.accordion {
  max-width: 60%;
  margin: 0 auto;
  padding: 70px 0 20px;
  width: 100%;
}

.acc h3 {
  font-size: 20px;
  color: black;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  border-bottom: 1px solid grey;
}

.acc h3:after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.acc.active h3:after {
  content: '-';
  position: absolute;
  right: 20px;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.answer {
  background-color: #fff;
  display: none;
}

.answer-inner {
  padding: 20px;
}

.answer * {
  margin-top: 0;
  line-height: 1.5;
}

.acc {
  border-bottom: 1px solid #fff;
}

.msg {
  text-align: center;
  font-size: 100px;
  padding: 150px;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

@media screen and (max-width: 880px) {
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media screen and (max-width: 1300px) {
  .font-md{
    font-size: .9rem;
  }
  .message{
    .message-image{
      min-width: 100px !important;
    }
  }
}


// @media screen and (min-width: 880px) and (max-width: 1177px) {
//     #brothers-section{
//         div{
//             .frame {
//                 flex-basis: 50% !important;
//             }
//         }
//     }
// }


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
    .frame{
        min-width: 200px !important;
        .profile{
            min-width: 200px !important;
        }
    }
    .message-image{
        margin-top: 3vh !important;
    }
}

@media screen and (max-width: 856px) {
    .shift-left{
        margin-left: 6vw;
    }
}

@media screen and (max-width: 820px) {
    .font-md{
        clear: left;
        margin-left: 6vw;
    }
    .message-image{
        float: none !important;
    }
    .message{
        text-align: center;
    }
}
