*{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

#header-section{
  padding: 0;
  height: 100%;
}

.header{
  padding: 10px 0;
  height: 100%;
  background: url("../assets/background.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#logo{
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.main-navigation{
  display: flex;
  justify-content: center;
  min-height: 40px;
  font-size: 110%;
}

.header-inner{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page-link{
  font-size: 1.1em;
  color: white;
  flex-wrap: wrap;
  padding: 0px 20px;
  letter-spacing: normal;
  background: transparent;
  display: inline-block;
  text-align: center;
  border: none;
  position: relative;
  top: -40px;
  font-weight: normal;
}

.page-link:hover{
  background: transparent;
  font-weight: bolder;
  color: purple;
}

.typed{
  text-align: center;
  font-size: 5em;
  color: white;
  font-weight: 1000;
  padding: 5% 10%;
  width: 100%;
}

#typed{
  text-align: center;
  color: white;
  font-weight: 1000;
  color: purple;
  display: inline;
  padding-left: 30px;
}

.join-button {
  border-radius: 15px;
  background-color: purple;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  display: block;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}

.join-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.join-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.5s;
}

.join-button:hover span {
  padding-right: 25px;
}

.join-button:hover span:after {
  opacity: 1;
  right: 0;
}

.message-section{
  padding-bottom: 50px;
}

.message-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.message-image{
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin: 5px 50px 0 0;
  padding-left: 200px;
}

.message{
  display: inline-block;
  vertical-align: top;
  width: 46%;
  @media (max-width: 620px) {
      width: 100%;
  }
  padding-right: 160px;
}

.about-section{
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

.about-title{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

#about-title{
  color: purple;
  display: inline;
  padding-left: 10px;
}

.about-message{
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}